<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345758228187-7f1aa205ig1484sqej2h40rfj59qrcpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345758228187-7f1aa205ig1484sqej2h40rfj59qrcpb</string>
	<key>API_KEY</key>
	<string>AIzaSyBPRkcpSgxECGh5mIKM9O8TsKC__XCMZa0</string>
	<key>GCM_SENDER_ID</key>
	<string>345758228187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appdevelop.HerYemekBootcamp</string>
	<key>PROJECT_ID</key>
	<string>super-eats-993d9</string>
	<key>STORAGE_BUCKET</key>
	<string>super-eats-993d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345758228187:ios:7f73daf323e3d980b8b6fe</string>
</dict>
</plist>